<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>licensePlates</title>
</head>
<body>
<h1>Velkommen til de faste kunder</h1>
<h1>Find din bil</h1>

<div id="app" class="container">
    <h2> Get All Carsss (GET) </h2>
    <!-- Knap til at hente alle licensePlates -->
    <button id="getAllButton" v-on:click="getAlllicensePlates" class="btn btn-primary">Get All licensePlates</Get></button>
    <br>

     <!-- Liste over licensePlates, vises kun hvis der er licensePlates i 'licensePlates' arrayet -->
     <ul id="licensePlatesList" v-if="licensePlates.length">
        <li v-for="licensePlate in licensePlates">
            {{licensePlate.id}} - {{licensePlate.plate}} - {{licensePlate.time}}
        </li>
    </ul>
    <div v-else>Ingen licensePlates</div>

    <h2>Get by ID (GET)</h2>
    <!-- Inputfelt og knap til at hente licensePlate efter ID -->
    <input v-model="idToGetBy" placeholder="id" type="number" id="getByIdInput" />
    <button v-on:click="getById(idToGetBy)" class="btn btn-primary">Get By ID</button>
    <!-- Viser en enkelt licensePlate hvis 'singleLicensePlate' er sat -->
    <div v-if="singleLicensePlate">
        {{singleLicensePlate.id}} - {{singleLicensePlate.plate}} - {{singleLicensePlate.time}}
    </div>
    <div v-else>No Teacher</div>

    <h2>Add (POST)</h2>
    <!-- Inputfelter og knap til at tilføje en ny licensePlate -->
    <input v-model="addData.plate" placeholder="licensePlate plate" type="text" id="inputPlate" />
    <input v-model="addData.time" placeholder="time" type="text" id="inputTime" />
    <button v-on:click="addLicensePlate()" class="btn btn-success" id="createButton">Add</button>
    <!-- Viser en besked hvis 'addMessage' er sat -->
    <div v-if="addMessage">
        <div id="addMessage">{{addMessage}}</div>
    </div>
    
    <h2>Delete (DELETE)</h2>
    <!-- Inputfelt og knap til at slette en licensePlate efter ID -->
    <input v-model.number="deleteId" placeholder="id" type="number" id="deleteInput" />
    <button v-on:click="deleteLicensePlate(deleteId)" class="btn btn-warning" id="deleteButton">Delete LicensePlate</button>
    <!-- Viser en besked hvis 'deleteMessage' er sat -->
    <div v-if="deleteMessage">
        <div id="deleteMessage"> {{deleteMessage}} </div>
    </div>
    
    
    <script src="index.js"></script>    
</body>
</html>