<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>licensePlates</title>
</head>

<body>
    <br> 
    <h1>Velkommen til de faste kunder</h1>
    <br> <br> <br>  

    <h3>Find din bil her</h3>
    <div id="app" class="container">

        <!-- Get by ID Section (Centered Above Other Sections) -->
        <div class="get-by-id-section">
            <h2>Get by ID (GET)</h2>
            <input v-model="idToGetBy" placeholder="id" type="number" id="getByIdInput" />
            <button v-on:click="getById(idToGetBy)" class="btn btn-primary" id="getIdButton">Get By ID</button>
            <div v-if="singleLicensePlate">
                {{singleLicensePlate.id}} - {{singleLicensePlate.plate}} - {{singleLicensePlate.time}}
            </div>
            <div v-else>No LicensePlate</div>
        </div>
        <br> <br> <br>
          
        <!-- Wrapper for the other three sections -->
        <div class="sections-wrapper">
            <!-- Get All Section -->
            <div class="section">
                <h2> Get All Carsss (GET) </h2>
                <button v-on:click="getAllLicensePlates" class="btn btn-primary" id="getAllButton">Get All licensePlates</button>
                <br>

                <ul id="licensePlatesList" v-if="licensePlates.length">
                    <li v-for="licensePlate in licensePlates">
                        {{licensePlate.id}} - {{licensePlate.plate}} - {{licensePlate.time}}
                    </li>
                </ul>
                <div v-else>Ingen licensePlates</div>
            </div>

            <!-- Add (POST) Section -->
            <div class="section add-section">
                <h2>Add (POST)</h2>
                <input v-model="addData.plate" placeholder="licensePlate plate" type="text" id="inputPlate" />
                <input v-model="addData.time" placeholder="time" type="text" id="inputTime" />
                <button v-on:click="addLicensePlate()" class="btn btn-success" id="createButton">Add</button>
                <div v-if="addMessage">
                    <div id="addMessage">{{addMessage}}</div>
                </div>
            </div>

            <!-- Delete (DELETE) Section -->
            <div class="section delete-section">
                <h2>Delete (DELETE)</h2>
                <input v-model.number="deleteId" placeholder="id" type="number" id="deleteInput" />
                <button v-on:click="deleteLicensePlate(deleteId)" class="btn btn-warning" id="deleteButton">Delete LicensePlate</button>
                <div v-if="deleteMessage">
                    <div id="deleteMessage">{{deleteMessage}}</div>
                </div>
            </div>
        </div>

    </div>
    <script src="index.js"></script>
</body>

</html>
